# ==========================================
# PLANTILLA DE VARIABLES DE ENTORNO
# Copiar este archivo a ".env" y completar con valores reales
# ==========================================

# --- CLIENT API (Conexión con Python) ---
# URL donde corre el microservicio de Data Science
# Ejemplo Local: http://localhost:9595/api/prediction
DATA_SCIENCE_API_PREDICTION=http://localhost:9595/api/prediction

# --- DEV DB (Base de Datos Local - PostgreSQL) ---
# Credenciales de tu Postgres local
DB_USERNAME=
DB_PASSWORD=

# NOTA: Si en application-dev.yaml tienes ${DB_URL}, descomenta y ajusta esta línea.
# Si está hardcodeada en el yaml, ignora esta línea.
# DB_URL=jdbc:postgresql://localhost:5432/nombre_de_tu_base_de_datos

# --- PROD DB (Supabase) ---
# Credenciales para conectar a la nube
SUPABASE_DB_USERNAME=
SUPABASE_DB_PASSWORD=

# URL de conexión JDBC (Transaction Pooler es recomendado para Serverless)
# Ejemplo: jdbc:postgresql://aws-0-us-west-1.pooler.supabase.com:6543/postgres
SUPABASE_DATABASE_URL=

#Rate limiter
RATE_LIMITER_VALUE=

# --- CACHE CONFIG ---
CACHE_MAX_SIZE=
CACHE_TTL=