spring:
  profiles:
    #Profiles: dev, prod, test
    active: dev
  application:
    name: flight-on-time

#Client URL
ds:
  api:
    url: ${DATA_SCIENCE_API_PREDICTION:http://localhost:8585/api/predict}

#SpringDocs config
springdoc:
  swagger-iu:
    path: ${SWAGGER_IU_CONNECTION:/docs/swagger-ui.html}
  api-docs:
    path: ${SPRING_DOCS_CONNECTION:/docs/api-docs}

#Resilience4j
resilience4j:
  circuitbreaker:
    instances:
      dsClientPrediction:
        slidingWindowSize: 10
        minimumNumberOfCalls: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 2s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true

#"${rate-limit.ip.request-per-minute}
rate-limit:
  ip:
    request-per-minute: ${RATE_LIMITER_VALUE:60}